
#countdown {
  color: blue;
  padding: 10px;
}
/*
#cards {
    display: none;
}
*/

#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-con{
display: none;
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: #000000db;

}

.list-group-item{

  background-color: transparent;
}

img{

  max-width: 100%;
}